.header{
  width: 100%;
  padding: 1.6rem 0;
  position: sticky;
  left: 0;
  top: 0;
  background: rgba(0,4,7,.9);
  backdrop-filter: blur(4px);
  z-index: 999;
  .container{
    @include flexCenterJustify;
  }
  nav{
    ul{
      @include flexCenter;
      gap: 4.7rem;
      a{
        color: $white;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 150%;
        transition: all .3s ease;
        &:hover{
          color: $orange-03;
        }
      }
    }
  }
  @include responsive('tablet'){
    nav{
      display: none;
    }
  }
  @include responsive('mobile'){
    img{
      max-width: 12rem;
    }
  }
}