.s-hero{
  padding: 11.8rem 0;
  width: 100%;
  height: 80rem;
  background: url('../assets/bg-hero.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(transparent, #060608);
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
  .left-container{
    width: 100%;
    max-width: 62.2rem;
    position: relative;
    z-index: 1;
    animation: fadeLeft 1s forwards;
    .plataform{
      margin-bottom: 3rem;
      @include flexCenter;
      span{
        font-size: 1.2rem;
        line-height: 150%;
        &.available-for{
          color: $gray-light-01;
          background-color: $gray-dark-03;
          padding: 0.6rem 1.2rem;
          border-radius: 4px 0 0 4px;
        }
        &.console{
          color: $white;
          font-weight: 500;
          padding: 0.6rem 1rem;
          background-color: $gray-dark-04;
          border-radius: 0 4px 4px 0;
        }
      }
    }
    p{
      color: $white;
      font-size: 1.8rem;
      line-height: 150%;
      margin-bottom: 4.8rem;
    }
    .add-cart{
      margin-bottom: 7.2rem;
      span{
        color: $white;
        font-size: 3.2rem;
        font-weight: 600;
        font-family: 'Mohave', sans-serif;
        margin-bottom: 2.4rem;
      }
      div{
        @include flexCenter;
        gap: 2.2rem;
      }
    }
  }
  .right-container{
    margin-top: 4.35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: fadeRight 1s forwards;
    span{
      font-size: 1.2rem;
      line-height: 150%;
      &.age{
        @include flexTotalCenter;
        width: 3.2rem;
        height: 3.2rem;
        background-color: $auxiliary-yellow;
        border-radius: 6px;
        color: $white;
        margin-bottom: 1.6rem;
      }
    }
    div{
      span{
        color: $gray-light-03;
        text-align: right;
      }
    }
  }
  @include responsive('tablet'){
    padding: 7.8rem 0;
    .left-container{
      max-width: 100%;
      p{
        max-width: 65rem;
      }
    }
    .right-container{
      display: none;
    }
  }
  @include responsive('tablet-small'){
    padding: 4rem 0;
    height: auto;
    &::after{
      height: 20rem;
    }
    .left-container{
      .plataform{
        margin-bottom: 1.6rem;
      }
      p{
        margin-bottom: 2rem;
      }
      .add-cart{
        margin-bottom: 5rem;
        span{
          margin-bottom: 1.6rem;
        }
      }
    }
  }
  @include responsive('mobile'){
    background-size: 120rem;
    background-position-x: 65%;
    &::after{
      height: 15rem;
    }
    .left-container{
      p{
        font-size: 1.6rem;
      }
    }
  }
}

.s-videos{
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 6.4rem;
  overflow: hidden;
  position: relative;
  &::after{
    content: '';
    width: 33.4rem;
    height: 33.4rem;
    position: absolute;
    top: 6.5rem;
    right: 0;
    background: linear-gradient(270deg, #060608 -3.29%, rgba(6, 6, 8, 0) 64.25%);
    z-index: 5;
    pointer-events: none;
  }
  .container{
    position: relative;
  }
  .last-videos{
    @include flexCenterJustify;
    margin-bottom: 3.2rem;
    .swiper-pagination{
      position: relative;
      width: max-content;
      bottom: 0;
      .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        border-radius: 0;
        background-color: $gray-dark-05;
        &-active{
          background-color: $white;
        }
      }
    }
  }
  .btn{
    position: absolute;
    z-index: 1;
    top: 13.3rem;
    width: 4rem;
    height: 4rem;
    background-color: $gray-dark-05;
    border-radius: 50%;
    z-index: 6;
    &.btn-prev{
      left: 0;
      transform: rotate(-180deg);
    }
    &.btn-next{
      right: 0;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }
  }
  @include responsive('tablet'){
    padding: 5rem 0;
    .btn{
      display: none;
    }
  }
  @include responsive('tablet-small'){
    padding: 4rem 0;
  }
}

.s-villain{
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation: changeBG 10s ease-in infinite;
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 21.6rem;
    position: absolute;
    background: linear-gradient(180deg, #020007 0%, rgba(0, 4, 7, 0.00) 100%);
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  &::after{
    content: '';
    width: 100%;
    height: 21.6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #020007 0%, rgba(0, 4, 7, 0.00) 100%);
    z-index: 1;
    pointer-events: none;
    transform: rotate(180deg);
  }
  h2{
    margin-bottom: 0.8rem;
  }
  p{
    color: $gray-light-02;
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 7.2rem;
  }
  img{
    animation: animateScroll .3s ease-in infinite alternate;
  }
  @include responsive('tablet'){
    height: 60rem;
  }
  @include responsive('tablet-small'){
   height: 56rem;
    &::before,
    &::after{
      height: 15rem;
    }
    p{
      margin-bottom: 5rem;
    }
  }
  @include responsive('mobile'){
    &::before,
    &::after{
      height: 10rem;
    }
    height: auto;
    padding: 6rem 0;
    background-size: 90rem;
    p{
      max-width: 30rem;
      font-size: 1.6rem;
    }
  }
}

@keyframes changeBG {
  0%{
    background-image: url('../assets/bg/01.png');
  }
  10%{
    background-image: url('../assets/bg/02.png');
  }
  20%{
    background-image: url('../assets/bg/03.png');
  }
  30%{
    background-image: url('../assets/bg/04.png');
  }
  40%{
    background-image: url('../assets/bg/05.png');
  }
  50%{
    background-image: url('../assets/bg/06.png');
  }
  60%{
    background-image: url('../assets/bg/07.png');
  }
  70%{
    background-image: url('../assets/bg/08.png');
  }
  80%{
    background-image: url('../assets/bg-venon.png');
  }
  90%{
    background-image: url('../assets/bg/08.png');
  }
  100%{
    background-image: url('../assets/bg/01.png');
  }
}

@keyframes animateScroll{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(20px);
  }
}

@keyframes fadeLeft{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fadeRight{
  from{
    transform: translateX(100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}