$white: #fff;
$gray-light-01: #C0C0CC;
$gray-light-02: #CECED9;
$gray-light-03: #E1E1E1;
$gray-light-05: #F2F2FF;
$gray-dark-01: #060608;
$gray-dark-02: #101014;
$gray-dark-03: #1B1B21;
$gray-dark-04: #25252E;
$gray-dark-05: #2F2F3B;
$orange-01: #CF3302;
$orange-03: #F55827;
$auxiliary-yellow: #F09104;